@use "../../styles.scss";

#SearchBar{
    @include styles.style-main-blocks();
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto max-content;
    grid-template-rows: auto auto; //sulla prima riga si adatta alle dimensioni dell'immagine del bottone ricerca
    #city-input{
        @include styles.b-search-input-button();
        border-radius: styles.$b-radius;
        background-color: styles.$bgcolor-search-input-button;
        font: inherit;
    }
    #search-button{
        @include styles.b-search-input-button();
        width: calc(30px + 3vw);
        border-radius: 50%;
        padding: 15%;
        background-color: styles.$bgcolor-search-input-button;
        img{
            width: 100%;
            height: 100%;
        }
    }
}