@use "../../../styles.scss";
#TipBar{
    border: unset;
    background-color: styles.$bgcolor-tip-bar;
    border-radius: styles.$b-radius;
    font-size: 0.7rem;
    height: calc(20px + 1vw);
    margin-top: 20px;
}