@use "../../../styles/main" as m;
#TipBar{
    border: unset;
    background-color: m.$bgcolor-tip-bar;
    border-radius: m.$b-radius;
    font-size: 0.7rem;
    height: calc(20px + 1vw);
    margin-top: 20px;
}