$bgcolor-search-input-button:rgba(255, 255, 255, 0.76);
$bgcolor-tip-bar:rgba(255, 255, 255, 0.64);
$mainInfo-text-color:white;
$text-shadow-color:rgb(41, 91, 184);

$b-radius: 10px;

@mixin b-search-input-button(){
    border:unset;
    border-bottom: 2px solid black
}
@mixin style-main-blocks(){
    margin-bottom: 10px;
    padding: 20px;
    border: 1px dotted rgba(255, 255, 255, 0.5);
    border-radius: $b-radius;
}