@use "./styles/functions.scss" as f;

#App{ 
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: f.px-and-vw(300px);
    button:hover{
        border: 1px solid black !important;
    }
}