#MainInfo{
    width: 20vw; //provvisorio
    display: flex;
    flex-direction: column;
    #container1{
        display: flex;
        #condition-icon{
        width: 150px;
        //border: 1px solid black;
        margin-right: 10px;
        }
        #temp-c{
            margin: 0;
            align-self: center;
            font-size: 2rem;
            text-shadow: 4px 4px 10px black;
            color: beige;
        }
    }
    #condition-text{
        text-align: center;
        margin-top: 0;
    }
    
}